---
# nothing
---
<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    #<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
</head>
<body id="top-of-page">
	<header>
      <div class="container">
        <nav class="main-nav">
          <ul>
            <li><a href="/ans_documentation">Home</a></li>
            <li><a href="/blog.html">Blog</a></li>
          </ul>
        </nav>
        <h1><a href="{{ site.url }}{{site.baseurl}}/">Iberdrola<strong>Ansible<strong>Documentation</strong></a></h1>
      </div>
    </header>
     <div class="content">
	{{ content }}
<footer>
      <div class="container">
        <p class="center-text"> <a href="http://redhat.com">Created by</a></p>
      </div>
    </footer>
</body>
</html>
